<h1>Welcome to my Game Rating app</h1>

<% @games.each do |game| %>
  <div>
    <h1><%= game.name %></h1><br />
    <i><%= game.address %></i><br />
    <p><%= game.description %></p><br />
  </div>

  <hr />
<% end %>